# Бэкенд и API
fastapi==0.109.2
uvicorn[standard]==0.27.1
pydantic==2.6.1

# Машинное обучение и NLP
torch==2.2.0
transformers==4.37.2
sentencepiece==0.1.99
scikit-learn==1.4.0
pandas==2.2.0

# Вспомогательные библиотеки
tqdm==4.66.1